*:focus {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  background-color: #f4f4f498;
}
::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
a {
  text-decoration: none;
  color: black;
}

.mess-err {
  margin: 15px 0;
  display: none;
  color: #c90927;
}

.nav-container {
  width: 100%;
  height: 115px;
  background-color: #ffba00;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 30px;
}

.nav {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, calc(80% / 2));
}

.logo {
  width: 160px;
  height: 60px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.aside-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.aside-right div {
  margin-right: 20px;
  font-size: 16px;
}

.form-search span {
  position: relative;
  left: 0;
  top: 1px;
  padding: 10px 10px 11px 10px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
}

.form-search input {
  position: relative;
  left: -5px;
  width: 300px;
  height: 36px;
  border: none;
  /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;     */
  background-color: white;
  margin-right: 0;
}

.search {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  height: 42px;
}

.aside-left button {
  position: relative;
  right: 10px;
  top: 1px;
  height: 38px;
  width: 36px;
  border: none;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  color: #ffba00;
}

.aside-left button:hover {
  cursor: pointer;
}

.list-dropdown {
  position: relative;
}

ul,
li {
  display: block;
}

ul li {
  list-style: none;
}

.dropdown {
  display: none;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 11;
  background-color: #f4f4f4;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
}

.dropdown li {
  width: 150px;
  padding: 10px;
  text-align: center;
}

.dropdown a {
  width: 150px;
}

.list-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown li:hover a {
  color: #ffba00;
  cursor: pointer;
}

/* Register */
.register-container {
  width: 80%;
  height: calc(100vh - 115px);
  margin: auto;
  display: flex;
  justify-content: center;
  /* margin-top: 150px; */
  align-items: center;
}

.form-register {
  text-align: center;
  height: max-content;
  min-width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 30px;
}

/* Login */
.login-container {
  width: 80%;
  height: calc(100vh - 115px);
  margin: auto;
  display: flex;
  justify-content: center;
  /* margin-top: 150px; */
  align-items: center;
}

.form-login {
  text-align: center;
  height: max-content;
  min-width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 30px;
}

.input-wrapper > input {
  /* border: ; */
  height: 38px;
  width: 80%;
  margin-top: 15px;
}

.submit {
  margin-top: 15px;
}

.submit > button {
  width: 150px;
  height: 30px;
  margin-bottom: 15px;
  background-color: #ffba00;
  border: none;
  border-radius: 5px;
}

.submit > div > a:hover {
  color: #ffba00;
}

/* Category */

.category-container {
  width: 60%;
  margin: auto;
  padding: 5px;
  /* border: 1px solid black; */
  margin-bottom: 30px;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
}

.category-container > span {
  font-size: 24px;
  font-weight: 700;
}

.category-container > div {
  display: flex;
  justify-content: center;
}

.category-container a {
  margin: 0 10px;
}

.category-container a:hover {
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
}

.detail-category {
  width: 120px;
}

.img-category {
  margin: auto;
  width: 84px;
  height: 84px;
}

.img-category img {
  width: 84px;
  height: 84px;
  object-fit: cover;
}

.title {
  text-align: center;
  overflow-x: auto;
  margin-bottom: 5px;
}

/* Product */
.product-container {
  width: 60%;
  margin: auto;
  padding: 5px;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  /* row-gap: 30px; */
  /* column-gap: 30px; */
}

.header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.product {
  border: 1px solid #9b9b9b7a;
}

.product:hover {
  cursor: pointer;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
}

.img-product {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.img-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.33;
  color: #d0021b;
  margin-bottom: 10px;
}

/* user infomation */

.user-information-container {
  width: 60%;
  margin: auto;
}

.info-form {
  display: grid;
  grid-template-columns: 30% 70%;
}

.avatar {
  width: 50%;
  margin: 0 50px;
}

.user-name {
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
}

.avatar label:hover {
  cursor: pointer;
}

.avatar img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  width: 70%;
}

.input-wrapper-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-wrapper-info label {
  font-weight: bold;
}

.input-wrapper-info > input,
.input-wrapper-info > select,
.input-wrapper-info > textarea {
  /* border: ; */
  height: 38px;
  width: 450px;
  margin-top: 15px;
}

.btn-info {
  margin-top: 15px;
  width: 80%;
  height: 38px;
  background-color: #ffba00;
  /* border: 5px solid #ffba00; */
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.btn-info:hover {
  cursor: pointer;
}

/* Search product */
.search-container {
  width: 60%;
  margin: auto;
}

.search-result > a {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid #f4f4f4;
}

.search-result:hover {
  cursor: pointer;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
}

.image-product {
  width: 256px;
  height: 256px;
  margin-right: 30px;
  padding: 15px;
}

.image-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-product {
  padding: 15px;
}

.search-title {
  font-size: 28px;
  margin-bottom: 15px;
}

.search-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #d0021b;
  padding-bottom: 160px;
}

.address {
  color: #9b9b9b;
}

/* detail */
.detail-container {
  width: 60%;
  margin: auto;
}

.content {
  width: 100%;
  /* height: max-content; */
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: white;
  border: 1px solid #f4f4f4;
}

.content div {
  margin-bottom: 10px;
}

.detail-aside-left {
  padding: 0 15px 0 20px;
}

.detail-img {
  width: 100%;
  margin-top: 15px;
}

.detail-img img {
  width: 100%;
  object-fit: cover;
}

.detail-title {
  font-size: 22px;
  font-weight: 650;
}

.nm1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.33;
  color: #d0021b;
}

.save-product {
  display: flex;
  align-items: center;
  border: 1px solid #c90927;
  border-radius: 20px;
  padding: 5px 10px;
  color: #c90927;
}

.save-product:hover {
  color: #f4f4f4;
  background-color: #c90927;
  cursor: pointer;
}

.describe {
  font-size: 16px;
  line-height: 1.33;
}

/* .detail-address span {
  font-size: 18px;
  margin-right: 3px;
} */

.detail-aside-right {
  margin-top: 15px;
}

.saller-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.img-saller img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.name-saller {
  font-size: 22px;
}

.phoneNumber {
  font-size: 16px;
  margin-bottom: 15px;
}

.describe span,
.detail-address span,
.phoneNumber span {
  font-size: 18px;
  margin-right: 3px;
}

.btn-chat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  width: 80%;
  height: auto;
  padding: 8px 10px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #c90927;
  color: #c90927;
  border-radius: 5px;
}

.btn-chat i {
  font-size: 24px;
}

.btn-chat:hover {
  background-color: #c90927;
  color: #f4f4f4;
  cursor: pointer;
}

.upload-container {
  width: 60%;
  margin: auto;
}

.form-upload label {
  display: inline-block;
  width: 200px;
  margin-bottom: 30px;
  font-size: 18px;
}

.upload-input-wrapper input,
select,
textarea {
  width: 400px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid black;
}

.button-upload {
  width: 600px;
  text-align: right;
}

.btn-upload {
  width: 200px;
  height: 30px;
  margin-top: 15px;
  background-color: #ffba00;
  border: 5px solid #ffba00;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.btn-upload:hover {
  cursor: pointer;
}

.post-container {
  width: 60%;
  margin: auto;
}

.post {
  background-color: white;
  border: 1px solid #f4f4f4;
  display: flex;
  padding: 15px;
  margin-bottom: 30px;
}

.post:hover {
  cursor: pointer;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
}

.img-post {
  width: 30%;
}

.img-post img {
  width: 80%;
  object-fit: cover;
  margin: auto;
}

.info-post {
  width: 70%;
  display: grid;
  row-gap: 130px;
  grid-template-areas: "header header";
}

.title-post {
  /* display: inline-block; */
  /* width: 100%; */
  font-size: 30px;
  grid-area: header;
}

.update-btn,
.delete-btn {
  width: 100%;
}

.update-btn button,
.delete-btn button {
  width: 50%;
  height: 38px;
}

/* Edit Post */
.edit-post-container {
  width: 60%;
  margin: auto;
}

/* Chat */

.chat-container {
  width: 100%;
  height: calc(100vh - 145px);
  margin: auto;
  display: grid;
  grid-template-columns: 20% 80%;
}

.aside-left-chat {
  width: 100%;
  height: calc(100vh - 145px);
}

.user-chat a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 15px;
}

.user-chat:hover {
  cursor: pointer;
  background-color: rgba(255, 152, 111, 0.432);
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
}

.img-user-chat img,
.img-product-chat img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.user-name-chat {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 7px;
}

.product-chat {
  display: inline-block;
  font-size: 12px;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aside-right-chat {
  position: relative;
  margin: 0 5px;
  height: calc(100vh - 145px);
}

.input {
  display: flex;
  position: absolute;
  bottom: 15px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.input label {
  margin-right: 10px;
}

.input input {
  width: 100%;
  height: 42px;
  border: none;
  background-color: white;
  border-radius: 10px;
}

.input button {
  width: 50px;
  height: 42px;
  border-radius: 10px;
  border: 3px solid #ffba00;
  background-color: #ffba00;
  color: white;
}

.input button:hover {
  cursor: pointer;
}

.input {
  display: flex;
  position: absolute;
  bottom: 15px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.input label {
  margin-right: 10px;
}

.input input {
  width: 100%;
  height: 42px;
  border: none;
  background-color: white;
  border-radius: 10px;
}

.input button {
  width: 50px;
  height: 42px;
  border-radius: 10px;
  border: 3px solid #ffba00;
  background-color: #ffba00;
  color: white;
}

.input button:hover {
  cursor: pointer;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
.quanLyTin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: rgba(255, 152, 111, 0.432);
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
  padding: 15px 0;
}

.quanLy_item {
  padding: 0px 17px;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.quanLy_item:hover {
  padding: 0px 17px;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
  /* background-color: #FFBA00; */
}
.active {
  padding: 0px 17px;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
  background-color: #ffba00;
  font-weight: bold;
}
#listCancel {
  display: none;
}
#listDone {
  display: none;
}


.w3-modal-content {
  height: 300px;
  width: 100px;
  margin: auto;
}

.w3-container {
  width: 80%;
  margin: auto;
  margin-top: 300px;
}

.cancel {
  font-size: medium;
  font-weight: 700;
  margin-bottom: 50px;
}