.user-information-container {
  width: 60%;
  margin: auto;
}

.header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.info-form {
  display: grid;
  grid-template-columns: 30% 70%;
}

.avatar {
  width: 50%;
  margin: 0 50px;
}

.user-name {
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
}

.avatar label:hover {
  cursor: pointer;
}

.avatar img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  width: 70%;
}

.input-wrapper-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-wrapper-info label {
  font-weight: bold;
}

.input-wrapper-info > input,
.input-wrapper-info > select,
.input-wrapper-info > textarea 
.quanLyTin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: rgba(255, 152, 111, 0.432);
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
  padding: 15px 0;
}

.quanLy_item {
  padding: 0px 17px;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.quanLy_item:hover {
  padding: 0px 17px;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
  /* background-color: #FFBA00; */
}
.actived {
  padding: 0px 17px;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
  background-color: #ffba00;
  font-weight: bold;
}
#listCancel {
  display: none;
}
#listDone {
  display: none;
}




